<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Name" value="Random Photo Screensaver" />
    <add key="Abbr" value="RPS" />
    <add key="Company" value="abScreensavers.com" />
    <add key="UpdateCheckURL" value="http://www.abscreensavers.com/abdownloads/rps/latestversion.php" />
  </appSettings>
</configuration>
