html, #tabs a:visited, #tabs a {
	color: rgb(48, 57, 66);
	text-decoration: none;
}

html {
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 75%;
}

h1 {
	margin-top: 2em;
	font-size: 1.75em;
	font-weight: normal;
	border-bottom: 1px solid #eee;
}

h2 {
	font-size: 1.5em;
	font-weight: normal;
}

h3 {
	font-weight: normal;
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

/** jQuery ui overwrite **/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: rgb(48, 57, 66);
}

.note {
	background-color: #ffffe1;
}

.note.important {
	background-color: #eebfd9;
}


.todo {
	background-color: #eeeeee;
	font-style: italic;
	color: #bbbbbb;
	padding: 0px 1em;
}

#donate {
	float: right;
	padding-left: 3em;
	padding-right: 3em;
	margin: 1em;
}

#donation, .tips {
	width: 98%;
	top: 0px;
	left: 0px;
	background-color: white;
	position: block;
	z-index: 10000;
	padding: 1em 1% 2em 1%;
	border-bottom: 1px solid #eee;
}

.thankyou {
	padding-top: 1em;
	padding-right: 1em;
	float: right;
}

.hideMessage {
	float: right;
	margin-right: -1em;
	margin-top: -1em;
}

.highlight {
	background-color: rgba(255, 240, 120, 0.9);
}

label, textarea {
	clear: left;
	display:block;
}

#navigation {
	width: 180px;
	z-index: 3;
	padding: 0px;
	position: absolute;
}

#textareas {
	display: none;
}

#navigation h1 {
}

#search {
	float: right;
	width: 150px;
}

.set {
	width: 100%;
}

#content {
	margin-left: 200px;
	box-sizing: border-box;
}

textarea, input {
	width: 100%;
}

.horizontal label {
	clear: none !important;
}

.line {
	clear: left;
}
/*
.checkboxGroup label, .radioGroup label {
	clear: right;
}
*/
input[type='checkbox'], input[type='radio'] {
	clear: left;
	width: auto;
	margin: 0.6em 1em 0.6em 1em;
}

input[type='radio'] {
	clear:both;
}
/*
.radioGroupHorizontal input[type='radio'], .radioGroupHorizontal label {
	clear: none;
	float: left;
}

.radioGroupHorizontal input {

}
*/
.inline, .inline label {
	display: inline;
	clear: none;
}

#wallpaperSourceFilterDropdown {
	margin: 0.5em 0.5em 0.5em 3em;
}

label[for=wallpaperSourceFilter] {
	float: left;
}

.monitor {
	float: left;
}

#folders {
	height: 5em;
}

#quickMetadata {
	height: 4em;
}

.keywords {
	display: none;
}

label {
	font-size: 1.2em;
	line-height: 2em;
}

.stepper-wrap input {
	margin-right: 1em;
}

.column {
	float: left;
}

.clear {
	clear:both;
}

.wide {
	width: 79%;
	float: left;
	clear: none;
}

.narrow {
	width: 20%;
	float: right;
	clear: none;
}

.row {
	clear: both;
}

/** FancyTree Folder Selection **/
.not-root-node .fancytree-checkbox, .dim .fancytree-checkbox, .dim .fancytree-icon {
	background-image: url("../vendor/fancytree/dist/skin-win7/icons-bw.gif") !important;
}

.hidden {
	display: none !important;
}

.fancytree-treefocus span.fancytree-active .fancytree-title, span.fancytree-selected .fancytree-title {
	width: 80%;
	font-style: normal;
}

.dim .fancytree-title {
    color: silver !important;
    font-weight: lighter  !important;
}

.ui-menu {
  font-size: 63%;
  z-index: 3;
}

.excluded .fancytree-title {
	text-decoration: line-through;
}

.excluded .exclude {
	display: none;
}

.include {
	display: none;
}

.excluded .include {
	display: block;
}

/** Other **/
.subOption {
	margin-left: 3em;
}

.browseFile input, .browseFolder input {
	margin-right: 1em;
	width: 75%;
}

.previewTip {
	display: none;
}
.config .previewTip {
	display: block;
}

.readOnlySave {
	display: none;
}

.readOnly .readOnlySave {
	display: block;
}

.readOnly .save {
	display: none;
}

.multiOnly {
	display: none;
}

.multi .multiOnly {
	display: block;
}

.multi span.multiOnly {
	display: inline;
}

.multi tr.multiOnly {
	display: table-row;
}


.lowIEWarning {
	display: none;
}

.IE8 .notIE8 {
	display: none;
}

.onlyIE8 {
	display: none;
}

.IE8 .onlyIE8 {
	display: block;
}

.lowIE .lowIEWarning {
	display: block;
}
/*
.config #clearFilter, .config #applyFilter {
	display: none;
}
*/
.tooltip{
		display: inline;
		position: relative;
}

.tooltip:hover:after{
		background: #811788;
		border-radius: 5px;
		bottom: 26px;
		color: #fff;
		content: attr(data-title);
		left: 20%;
		padding: 15px 15px;
		position: absolute;
		z-index: 10000;
		width: 220px;
}

.tooltip:hover:before{
		border: solid;
		border-color: #811788 transparent;
		border-width: 6px 6px 0 6px;
		bottom: 20px;
		content: "";
		left: 50%;
		position: absolute;
		z-index: 10000;
}

/** Begin tabs **/

#tabs, #tabs-content {
	list-style: none;
	padding: 0;
	margin: 0;
}

#tabs li {
	font-size: 1.2em;
	line-height: 3em;
	padding-left: 1em;
	border-left: solid 5px transparent;
}

#tabs li.current, #tabs li.current:hover {
	border-left: solid 5px #811788;
}

#tabs li:hover {
	border-left: solid 5px #FF8D00;
}

#tabs .spacer {
	margin-top:1.5em;
}

/** End tabs **/

.advanced {
	display: none;
}

.toggleAdvanced {
	width: 50%;
	clear: both;
	float: left;
	text-decoration: none;
	color: #811788;
	padding: 1em;
	margin-top: 1em;
	border-top: 1px solid #eee;
}

#ignoreVersion {
	width: 5em;
	border:none;
}

#versionIE {
	font-size: 50%;
}

/*** Start shortcut Keys ***/
#shortcuts tr td {
	text-align: center;
}

#shortcuts tr td:nth-child(4), #shortcuts tr th:nth-child(4) {
	padding-left: 2em;
	text-align: left;
}

#shortcuts tr td:nth-child(3), #shortcuts tr th:nth-child(3) {
	color: #777777;
}

#shortcuts td.header {
	padding-top: 1em;
	font-weight: bold !important;
	text-align: left !important;
}
/*** End shortcut Keys ***/

/*** Begin filters ***/
/*#filter,*/ #filterNrLines, .currentFilter {
	display: none;
}

.filterLines .line {
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: auto;
	padding: 10px 0 10px 10px;
	background-color: #efefef;
}

.connect {
	margin: -2px 0px -2px 90px;
	background-color: #efefef;
	color: #000;
	font-size: 1.1em;
	font-weight: bold;
	padding: 0px 2em 0px 1em;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	float: left;
}

.connect label, .connect label input {
	clear: none;
	float: left;
}

#add_filter a {
	margin-left: 85px;
}

.filterLines {
	margin: 1em 0;
}

.filterLines select, .filterLines input[type=text] {
	padding: 0.25em 0.5em;
	margin: 0 0.5em;
	line-height: 1.5;
}	

.filterLines a {

}

.filterLines option {
	font-size: 1.25em;
}

.value, #filterName {
	width: 8em;
}

.isText, .isNumeral {
	display: none;
}

.setText .isText, .setNumeral .isNumeral {
	display: inline;
}

.setRawSQL .value {
	width: 26em;
}

.setRawSQL .clude {
	display: none;
}

.columns {
	background: #811788;
	color: white;
}

.filter .actions {
	float: right;
}

.filter .name {
	float: left;
	width: 15%;
}

.filter .content, .filter .sql {
	margin-left: 17%;
}

.filter.heading {
	font-weight: bold;
}

.filter {
	clear: both;
}

/*** End filters ***/